//- Structure des element de l'exemple blog
  app
    header
      menu
      hero
    section.article
    section.team
    section.slide
    section.works
    section.video
    section.pt-fort
    section.newsLeter
    footer
extends exemple/wrapper
block content
  include exemple/header/menu
  include exemple/header/hero
  include exemple/section/article
  include exemple/section/team
  include exemple/section/slide
  include exemple/section/works
  include exemple/section/video
  include exemple/section/pt-fort
  include exemple/section/newsletter
  include exemple/footer
