extends _layouts/_wrapper
block content
  include _partials/_topbar
  .columns.is-flex
    .column.is-2
      include _partials/_sidebar
    .column.is-10.has-background-white
      include _partials/panel