h1.is-1.title Accordion
  .js-accordion.code-html
    .js-accordion-child.panel(data-target = "first")
      .js-accordion-title.panel-heading.code-html
        span First title
        span.js-icon
          i.material-icons add_box
      .js-accordion-body.panel-block
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam quas commodi soluta corrupti perferendis dicta dolore quasi autem nobis, minima odio inventore aliquid, animi illo magni obcaecati reprehenderit est. Quo?
    .js-accordion-child.panel(data-target = "seconde")
      .js-accordion-title.panel-heading
        span seconde title
        span.js-icon
          i.material-icons add_box
      .js-accordion-body.panel-block
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam quas commodi soluta corrupti perferendis dicta dolore quasi autem nobis, minima odio inventore aliquid, animi illo magni obcaecati reprehenderit est. Quo?
    .js-accordion-child.panel(data-target = "third")
      .js-accordion-title.panel-heading
        span third title
        span.js-icon
          i.material-icons add_box
      .js-accordion-body.panel-block
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam quas commodi soluta corrupti perferendis dicta dolore quasi autem nobis, minima odio inventore aliquid, animi illo magni obcaecati reprehenderit est. Quo?
