hr
section

  #slider2.container
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/nature/sepia', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/nature/5', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/nature', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/people/5', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/nature/6', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .card
      .card-image
        figure.image.is-4by3
          img(src='https://placeimg.com/640/480/nature/16', alt='Placeholder image', height="400")
      .card-content
        .media
          .media-content
            p.title.is-4 John Smith
        .content
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.

