.row
    h3.title.is-h3 Board
        .is-pulled-right
            .field.has-addons
                .control
                    input.input(type='text', placeholder='Find a repository')
                .control
                    a.button.is-info
                        i.fas.fa-plus
    hr
    .columns.is-multiline 
        .column.is-one-quarter
            .box
                h5.title.is-5 test
        .column.is-one-quarter
            .box 
                p test
        .column.is-one-quarter
            .box    
                p test
        .column.is-one-quarter
            .box    
                p test
        .column.is-one-quarter
            .box
                p test
        .column.is-one-quarter
            .box 
                p test
        .column.is-one-quarter
            .box    
                p test
        .column.is-one-quarter
            .box    
                p test

