.row
    h3.title.is-h3 Board
        .is-pulled-right
            .field.has-addons
                .control
                    input.input(type='text', placeholder='Find a repository')
                .control
                    a.button.is-info
                        i.fas.fa-plus
    hr
    .columns.is-multiline 
        .column.is-4
            .card(style="padding:10px")
                .card-header test
                .card(style="margin-bottom:10px")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @johnsmith
                .card
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @johnsmith
        .column.is-4
            .card(style="padding:10px")
                .card-header test
                .card(style="margin-bottom:10px")
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @johnsmith
                .card
                    .card-content
                        .media
                            .media-content
                                p.title.is-4 John Smith
                                p.subtitle.is-6 @johnsmith