.container
  .box.columns
    .column.is-5
      nav.panel.js-todo-container
        p.panel-heading
          | repositories
        .panel-block.is-full.js-todo-input
          .control.field.has-addons.has-addons-right
            p.control.js-input(style="flex:1")
              input.input(type='text', placeholder='Amount of money')
            p.control
              a.button.is-primary.js-add-todo
                i.fas.fa-plus
        a.panel-block.is-active
          span.panel-icon
            i.fas.fa-book(aria-hidden='true')
          |     bulma
        a.panel-block
          span.panel-icon
            i.fas.fa-book(aria-hidden='true')
          |     marksheet

