nav.nav-bar
  .container
    .logo
      span test
    .navigation
      ul.list
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="#") test
        li
          a(href="") test
    .navigation-icons
      ul.list
        li
          a(href="#")
            i.material-icons person
        li
          a(href="#")
            i.material-icons cloud
        li
          a(href="#")
            i.material-icons photo_camera
