section.art
  .container
    .article
      article
        header
          h3.exemple-title Titre de la section,
            | sur deux lignes
            small Lorem ipsum dolor sit amet, consectetur
              | adipiscing elit sed do eiusmod.
        .content
          section.article-section
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolorem enim eos ex hic id in incidunt ipsa, maiores minus nisi odit placeat repellendus sunt tenetur velit voluptatum? Aperiam, beatae commodi corporis id illo, nesciunt odio odit pariatur qui reiciendis sit suscipit! Deleniti facilis magnam neque odio, qui temporibus.
          section.article-section
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nihil sequi suscipit? Accusantium ad amet aperiam beatae consectetur culpa cum dolor, dolore dolorum facilis hic incidunt ipsa ipsum iure minus necessitatibus nesciunt nihil nisi perferendis placeat praesentium quasi quis repellat sapiente totam unde ut vel? Doloribus eum ex laborum natus perferendis placeat voluptate. A alias nisi perspiciatis repellat sunt tempora?

      footer
          a.button-blog(href="#") Lire la suite
