section(style="padding-bottom: 50px")
  .container
    .article
      article
        header
          h3.exemple-title Une vaste communauté
            | de gens qui vous ressemblen
            small Lorem ipsum dolor sit amet, consectetur
              | adipiscing elit sed do eiusmod.
  #slider.container
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/men/93.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/women/50.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/men/90.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/women/59.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/men/53.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
   .card-profil
     .avatar
       img(src="https://randomuser.me/api/portraits/women/40.jpg", alt="")
     .card-profil-body
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim fuga minima minus nostrum quidem velit.
     .card-profil-info
       ul
         li tesx1
         li tesx1
         li tesx1
